@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;600&display=swap');
$fontFamily:'Prompt',
sans-serif;

$fontColor: #078080;
$mainColor: #f8f5f2;
$cardColor:#fffffe;

$fontSizeTablet: 20px;