@media(min-width:1000px) {
    main {
        padding: 7%;
    }

    section {
        padding: 6% 0;
    }

    h2 {
        font-size: 40px;
    }

    /* ------------ 
    HEADER
    ------------ */
    header {

        >article {
            background-color: $fontColor;
            padding: 1% 3%;
        }

        details {
            display: none;
        }

        nav {
            display: flex;
            width: 60%;
        }

        nav>ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            width: 100%;
        }

        nav>li {
            display: flex;
            width: 100%;
        }

        nav>ul>li>a {
            color: $mainColor;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: bold;
            width: 100%;
            padding-bottom: 5%;
        }

        nav>ul>li>a:hover {
            border-bottom: 2px solid $mainColor;
        }

        img {
            max-height: 95vh;
        }

        p {
            font-size: 40px;
            padding: 2.5% 1%;
            letter-spacing: 4px;
            max-width: 80%;
        }
    }

    /* ------------ 
    ABOUT SECTION 
    ------------ */
    .about {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        h2 {
            width: 100%;
            padding-bottom: 3%;
        }

        p {
            width: 41%;
            padding-left: 4%;
            padding-right: 4%;
            font-size: 20px;
        }

        img {
            width: 25%;
        }
    }

    /* ------------- 
    PROJECTS SECTION 
    -------------- */
    .projects {
        row-gap: 50px;

        >div {
            justify-content: space-evenly;
            row-gap: 80px;
        }

        figure {
            width: 33%;
        }

        p {
            font-size: 16px;
        }
    }

    /* ------------ 
    SKILLS SECTION 
    --------------*/
    .skills {
        .softskill-box>p {
            width: 50%;
            padding: 4%;
            font-size: 20px;
        }

        ul {
            row-gap: 28px;
        }
    }

    .proskill-box {
        width: 70vw;
        row-gap: 70px;
        padding: 5% 0;

        div {
            width: 25%;
        }

        i {
            font-size: 60px;
        }

    }

    .proskill-box>div:hover {
        background-color: $fontColor;
        padding: 0;

        p,
        i {
            display: none;
        }

        span {
            display: inline-block;
            color: $mainColor;
            padding: 20% 5% 0 5%;
            font-size: 18px;

        }
    }

    /* ------------- 
    EDUCATION SECTION 
    --------------- */
    .education {
        padding: 5% 0;
        row-gap: 50px;

        >div {
            row-gap: 60px;
        }

        article {
            width: 25%;
            padding-left: 2%;
            padding-right: 2%;
            padding-top: 1%;
        }

        [class^="education_title"]>aside {
            height: 7vh;
        }

        h3 {
            font-size: 17px;
        }

        p {
            line-height: 1.3;
        }

        a {
            width: 100%;
        }
    }

    /* ------------ 
    CONTACT SECTION
    ------------- */

    .contact {
        p {
            padding: 3% 15%;
        }

        form {
            row-gap: 30px;
        }

        label {
            font-size: 25px;
            padding-left: 1%;
        }

        .message {
            float: right;
        }

        input {
            height: 5vh;
            width: 40vw;
        }

        textarea {
            height: 20vh;
            width: 40vw;
        }

        [type="submit"] {
            font-size: 26px;
            height: 6vh;
            width: 20vw;
            font-weight: bold;
        }

        [type="submit"]:hover {
            background-color: $mainColor;
            color: $fontColor;
            border: 2px solid #c4c4c4;
            font-weight: bold;
        }
    }


    /* ------------ 
    FOOTER
    ------------- */
    footer {
        div {
            column-gap: 45px;
        }

        div>a {
            font-size: 40px;
        }

        ul {
            width: 60%;

        }
    }

}