@media (min-width:300px) {

    /* ------------ 
    HEADER
    ------------ */
    header {
        >article {
            display: flex;
            justify-content: space-between;
            padding: 2% 5%;
            align-items: center;
            color: $mainColor;
            background-color: $fontColor;
        }

        span {
            font-size: 12px;
        }

        h3 {
            font-size: 18px;
        }


        nav {
            >ul {
                display: none;
            }
        }

        details {
            position: relative;

            summary {
                font-size: 26px;
                color: $mainColor;
            }

            div {
                position: absolute;
                top: 150%;
                right: -180%;
                z-index: 100;
                @include flexColumnMobile(10px);
                align-items: flex-start;
                width: 55vw;
                background-color: $fontColor;
            }

            ul {
                width: 100%;
                @include flexColumnMobile(5px);
            }

            li {
                width: 100%;
                display: flex;
                list-style: none;
            }

            a {
                text-decoration: none;
                padding: 2% 10%;
                font-size: 18px;
                color: $mainColor;
                width: 100%;
            }

            aside {
                display: flex;
                justify-content: space-between;
                padding: 8%;
                column-gap: 5px;
            }

            aside>a {
                font-size: 20px;
            }
        }

        .head-img {
            position: relative;
        }

        img {
            width: 100%;
            // opacity: 0.6;
        }

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 22px;
            text-align: center;
            width: 85%;
            font-weight: 600;
            color: $fontColor;
            background-color: rgba(248, 245, 242, 0.8);
            padding: 3%;
            border-radius: 100px;
        }
    }

    /* ------------ 
    ABOUT SECTION 
    ------------ */
    .about {
        @include flexColumnMobile(35px);

        p {
            padding: 0 3%;
            text-align: justify;
            line-height: 1.5;
            font-size: 15px;
        }
    }


    /* ------------- 
    PROJECTS SECTION 
    -------------- */
    .projects {
        @include flexColumnMobile(35px);

        div {
            @include flexColumnMobile(40px);
        }
    }

    figure {
        width: 85%;
        background-color: $cardColor;
        border-radius: 5px;
        padding: 2%;

        img {
            width: 100%;
        }

        aside {
            padding: 3% 5%;
        }

        p {
            font-size: 14px;
        }

        #tag {
            flex-direction: row;
            column-gap: 12px;
            padding-top: 3%;
            flex-wrap: wrap;
            row-gap: 10px;
        }

        #tag p {
            background-color: $fontColor;
            color: $mainColor;
            padding: 1% 3%;
            border-radius: 5px;
        }
    }

    /* ------------ 
    SKILLS SECTION 
    --------------*/
    .skills {
        @include flexColumnMobile(35px);

        h3 {
            font-weight: normal;
        }

        article {
            @include flexColumnMobile(30px);
        }

        .softskill-box {
            @include flexColumnMobile(20px);

        }

        ul {
            padding: 3%;
            display: flex;
            flex-direction: column;
            row-gap: 10px;

        }

        p {
            padding: 5%;

        }
    }

    .proskill-box {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        column-gap: 12px;
        row-gap: 20px;

        div {
            @include flexColumnMobile(12px);
            padding: 3% 0 5% 0;
            width: 40%;
            background-color: $cardColor;
        }

        i {
            font-size: 50px;
        }

        span {
            display: none;
        }
    }


    /* ------------- 
    EDUCATION SECTION 
    --------------- */
    .education {
        @include flexColumnMobile(35px);
        padding: 0 5%;
        padding-top: 16%;

        >div {
            @include flexColumnMobile(30px);
        }

        article {
            background-color: $cardColor;
            padding: 3% 8% 10% 8%;
            border-radius: 3%;
            @include flexColumnMobile(12px);
        }

        .education_title_1,
        .education_title_2,
        .education_title_3,
        .education_title_4,
        .education_title_5,
        .education_title_6 {
            text-align: center;
            padding-bottom: 3%;
            border-bottom: 1px dashed $fontColor;
            width: 100%;
        }

        .education_title_1>aside {
            background-image: url(/img/bunkyo.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 10vh;
        }

        .education_title_2>aside {
            background-image: url(/img/osu.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 10vh;
        }

        .education_title_3>aside {
            background-image: url(/img/web_creator.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 10vh;
        }

        .education_title_4>aside {
            background-image: url(/img/toeic.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 10vh;

        }

        .education_title_5>aside {
            background-image: url(/img/world_heritage.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 10vh;
        }

        .education_title_6>aside {
            background-image: url(/img/secretary.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 10vh;

        }

        span {
            font-size: 14px;
        }

        a {
            text-decoration: none;
            background-color: $fontColor;
            color: $mainColor;
            padding: 2% 6%;
            border: none;
            box-shadow: 2px 2px #c4c4c4;
            width: 88%;
            text-align: center;
        }

    }

    /* ------------ 
    CONTACT SECTION
    ------------- */
    .contact {
        @include flexColumnMobile(20px);

        p {
            text-align: center;
            padding: 3%
        }

        form {
            @include flexColumnMobile(15px);
        }

        div {
            @include flexColumnMobile(5px);
            align-items: flex-start;

            &:last-child {
                padding-top: 5%;
            }
        }

        input {
            width: 68vw;
            height: 5vh;
            padding-left: 2%;
        }

        textarea {
            width: 68vw;
            height: 15vh;
            padding: 2% 0 0 2%;
        }

        [type="submit"] {
            background-color: $fontColor;
            color: $mainColor;
            font-size: 16px;
            border: none;
            height: 6vh;
            box-shadow: 4px 4px #c4c4c4;
            border-radius: 5px;
        }
    }

    /* ------------ 
    FOOTER
    ------------- */
    footer {
        @include flexColumnMobile(20px);
        padding: 5% 0;

        div {
            @include flexRowMobile(24px);

            a {
                font-size: 26px;
                text-decoration: none;
            }
        }

        p {
            font-size: 12px;
        }
    }

    footer ul {
        @include flexRowMobile(4%);

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            font-size: 14px;
            font-weight: 600;
        }

        p {
            font-size: 12px;
        }
    }


}