@media (min-width:700px) {

    main {
        padding: 5%;
    }

    h2 {
        font-size: 35px;
    }

    section {
        padding: 8% 0;
    }

    /* ------------ 
    HEADER
    ------------ */
    header {
        span {
            font-size: 15px;
        }

        >article {
            padding: 1% 5%;
        }

        h3 {
            font-size: 24px;
        }

        p {
            font-size: 35px;
            padding: 2.5% 1%;
        }
    }

    header details {
        div {
            width: 45vw;
        }

        a {
            font-size: 26px;
            padding: 4% 12%;
        }

        aside a {
            font-size: 30px;
        }
    }

    /* ------------ 
    ABOUT SECTION 
    ------------ */
    .about {
        row-gap: 40px;

        p {
            font-size: 18px;
            padding-left: 7%;
            padding-right: 7%;
        }
    }

    /* ------------- 
    PROJECTS SECTION 
    -------------- */
    .projects {
        div {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        figure {
            width: 40%;
            padding: 1%;
            display: flex;
            flex-direction: column;

        }

        aside {
            display: flex;
            flex-direction: column;
            row-gap: 3%;
        }

        h4 {
            font-size: $fontSizeTablet;
        }

        p {
            font-size: 18px;
        }

        #tag {
            padding-top: 5%;
            display: flex;
            justify-content: left;

        }

        #tag p {
            font-size: 16px;

        }
    }

    /* ------------ 
    SKILLS SECTION 
    --------------*/
    .skills {
        h3 {
            font-size: 24px;
        }

        .softskill-box {
            flex-direction: row;
            justify-content: space-evenly;
            width: 95%;
        }

        ul {
            row-gap: 16px;
            padding-left: 7%;

        }

        li {
            font-size: 18px;
        }

        .softskill-box>p {
            width: 60%;
            font-size: 18px;
            padding: 2%;
        }
    }

    .proskill-box {
        justify-content: space-between;
        width: 80vw;
        row-gap: 30px;
        padding-top: 5%;

        div {
            width: 30%;
            background-color: $cardColor;
            text-align: center;
            padding-bottom: 6%;
        }

        p {
            font-size: $fontSizeTablet;
        }

        i {
            font-size: 55px;
        }
    }


    /* ------------- 
    EDUCATION SECTION 
    --------------- */
    .education {
        padding-top: 5%;

        >div {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 40px;
        }

        article {
            justify-content: space-evenly;
            width: 40%;
            padding: 0% 3% 4% 3%;
            display: flex;
            flex-direction: column;
        }

        [class^="education_title"] {
            padding-bottom: 5%;
        }

        [class^="education_title"]>aside {
            height: 6vh;
        }

        h3 {
            font-size: 18px;
        }

        p {
            padding: 3%;
            font-size: 17px;
        }

        span {
            font-size: 16px;
        }


        a {
            font-size: 17px;
            padding: 3% 0;
        }
    }

    /* ------------ 
    CONTACT SECTION
    ------------- */
    .contact {

        p {
            font-size: $fontSizeTablet;
            padding: 3% 7%;
        }

        form {
            row-gap: 20px;
        }

        label {
            font-size: $fontSizeTablet;
        }

        input,
        textarea {
            font-size: $fontSizeTablet;
            height: 4vh;
        }

        textarea {
            height: 12vh;
        }

        [type="submit"] {
            font-size: 24px;
            width: 30vw;
        }
    }

    /* ------------ 
    FOOTER
    ------------- */
    footer {
        row-gap: 30px;
        padding-top: 0;

        div>a {
            font-size: 35px;
        }

        p {
            font-size: 15px;
        }
    }

    footer ul {
        width: 70%;

        a {
            font-size: 20px;
        }
    }
}