@media (min-width:700px) {

    main {
        padding: 5%;
    }

    h2 {
        font-size: 34px;
    }

    section {
        padding: 8% 0;
    }


    /* ------------ 
    SKILLS SECTION 
    --------------*/
    .skills {

        .softskill-box {
            flex-direction: row;
            justify-content: space-evenly;
        }

        ul {
            row-gap: 18px;
        }

        .softskill-box>p {
            width: 50%;
            font-size: 18px;
        }
    }



    .proskill-box {
        justify-content: space-between;
        width: 65vw;

        div {
            width: 30%;
            background-color: $cardColor;
            text-align: center;
        }

        p {
            text-align: center;
        }
    }


    /* ------------- 
    EDUCATION SECTION 
    --------------- */
    .education {
        padding-top: 5%;

        >div {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 40px;
        }

        article {
            justify-content: space-evenly;
            width: 42%;
            height: 35vh;
            padding: 0% 3% 2% 3%;
        }

        h3 {
            font-size: 18px;
        }
    }

    /* ------------ 
    CONTACT SECTION
    ------------- */
    .contact {

        p {
            font-size: $fontSizeTablet;
            padding: 3% 7%;
        }

        form {
            row-gap: 20px;
        }

        label {
            font-size: $fontSizeTablet;
        }

        input,
        textarea {
            font-size: $fontSizeTablet;
            height: 4vh;
        }

        [type="submit"] {
            font-size: 24px;
            height: 5vh;
        }
    }

    /* ------------ 
    FOOTER
    ------------- */
    footer {
        row-gap: 30px;
        padding-top: 0;

        div>a {
            font-size: 35px;
        }

        p {
            font-size: 15px;
        }
    }

    footer ul {
        column-gap: 5%;

        a {
            font-size: 20px;
        }
    }
}